/* 
    Author: Safa Rizwan
    Theme: Restaurant Food Order
*/
/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: .2s linear;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
:root{
    --a-color:rgba(100, 55, 18, 0.87);
}
:root{
    --a-hover-color: rgb(247, 190, 6) ;
}
:root{
    --container-bg: rgba(233, 230, 219, 0.671);
}
.container{
    /* border: 1px solid red; */
    width: 85%;
    margin: 20px auto;
    padding: 1%;
}
.container1{
    /* border: 1px solid red; */
    /* width: 80%; */
    margin: 0 auto;
    padding: 0;
    background-color: var(--a-hover-color);
}
.color-container{
    background-color: var(--container-bg);
}
.img-responsive{
    width: 100%;
    padding: 0 0;
}
.img-curve{
    border-radius: 3px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-brown{
    color: var(--a-color);
    font-size: 32px;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color: var(--a-color);  
    text-decoration: none;
}
a:hover{
    color: var(--a-color);
    background: var(--a-hover-color) ;
    font-weight: bolder;
}
h1{
    color: var(--a-color);
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.1rem;
}
h3:hover{
    font-weight: bolder;
}
.float-container{
    position: relative;
}
.float-text{
    position: relative;
    bottom: 0px;
    left: 35%;
}
.text-bg{
    background-color: white;
    width: 100%;
}
.head-bg{
    background-color: white;
    width: 100%; 
}

/* CSS for navbar */

.logo{
    /* border: 1px solid black; */
     width: 10%;
     float: left;
     height: 1px;
}
.menu{
    line-height: 60px;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 2%;
    font-weight: bolder;

}


/* CSS for Food Banner Section */
.food-banner{
    background-image: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30% 0;
}

/* CSS For Categories */
.categories{
    padding: 4% 0;
}
.box-3{
    /* border: 1px solid black; */
    width: 28%;
    float: left;
    margin: 2%;
}

/* CSS for Food Menu */
.food-menu{
    padding: 4%;
}

.food-menu-box{
    /* border: 2px solid var(--a-color); */
    width: 38%;
    margin: 1% 3% 1% 4%; 
    float: left;
    padding: 1%;
    background-color: #fff;
    border-radius: 8px;
}
.btn-bg{
    background-color: var(--a-hover-color);
    border-radius: 8px;
    padding: 4px;
    font-size: 18px;
}
.food-menu h4,p{
    color: var(--a-color);
}
.food-menu img{
    width: 18%;
    border-radius: 7%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8% ;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
    font-weight: bold;
}
.food-detail{
    font-size: 1rem;
}

/* CSS for Social */
.social{
    background-color: var(--a-hover-color);
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}